@font-face {
  font-family: 'nissanicons';
  src: url('../font/nissanicons.eot?4109173');
  src: url('../font/nissanicons.eot?4109173#iefix') format('embedded-opentype'),
       url('../font/nissanicons.woff2?4109173') format('woff2'),
       url('../font/nissanicons.woff?4109173') format('woff'),
       url('../font/nissanicons.ttf?4109173') format('truetype'),
       url('../font/nissanicons.svg?4109173#nissanicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'nissanicons';
    src: url('../font/nissanicons.svg?4109173#nissanicons') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "nissanicons";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-uniE800:before { content: '\e800'; } /* '' */
.icon-uniE69B:before { content: '\e801'; } /* '' */
.icon-uniE69A:before { content: '\e802'; } /* '' */
.icon-uniE695:before { content: '\e803'; } /* '' */
.icon-uniE694:before { content: '\e804'; } /* '' */
.icon-uniE693:before { content: '\e805'; } /* '' */
.icon-uniE692:before { content: '\e806'; } /* '' */
.icon-uniE691:before { content: '\e807'; } /* '' */
.icon-uniE690:before { content: '\e808'; } /* '' */
.icon-uniE68F:before { content: '\e809'; } /* '' */
.icon-uniE68E:before { content: '\e80a'; } /* '' */
.icon-uniE68C:before { content: '\e80b'; } /* '' */
.icon-uniE68D:before { content: '\e80c'; } /* '' */
.icon-uniE68B:before { content: '\e80d'; } /* '' */
.icon-uniE68A:before { content: '\e80e'; } /* '' */
.icon-uniE689:before { content: '\e80f'; } /* '' */
.icon-uniE688:before { content: '\e810'; } /* '' */
.icon-uniE66C:before { content: '\e811'; } /* '' */
.icon-uniE66D:before { content: '\e812'; } /* '' */
.icon-uniE66E:before { content: '\e813'; } /* '' */
.icon-uniE66F:before { content: '\e814'; } /* '' */
.icon-uniE670:before { content: '\e815'; } /* '' */
.icon-uniE671:before { content: '\e816'; } /* '' */
.icon-uniE672:before { content: '\e817'; } /* '' */
.icon-uniE673:before { content: '\e818'; } /* '' */
.icon-uniE674:before { content: '\e819'; } /* '' */
.icon-uniE675:before { content: '\e81a'; } /* '' */
.icon-uniE676:before { content: '\e81b'; } /* '' */
.icon-uniE677:before { content: '\e81c'; } /* '' */
.icon-uniE678:before { content: '\e81d'; } /* '' */
.icon-uniE679:before { content: '\e81e'; } /* '' */
.icon-uniE67A:before { content: '\e81f'; } /* '' */
.icon-uniE67B:before { content: '\e820'; } /* '' */
.icon-uniE67C:before { content: '\e821'; } /* '' */
.icon-uniE67D:before { content: '\e822'; } /* '' */
.icon-uniE67E:before { content: '\e823'; } /* '' */
.icon-uniE67F:before { content: '\e824'; } /* '' */
.icon-uniE680:before { content: '\e825'; } /* '' */
.icon-uniE681:before { content: '\e826'; } /* '' */
.icon-uniE682:before { content: '\e827'; } /* '' */
.icon-uniE683:before { content: '\e828'; } /* '' */
.icon-uniE684:before { content: '\e829'; } /* '' */
.icon-uniE685:before { content: '\e82a'; } /* '' */
.icon-uniE686:before { content: '\e82b'; } /* '' */
.icon-uniE687:before { content: '\e82c'; } /* '' */
.icon-uniE66B:before { content: '\e82d'; } /* '' */
.icon-uniE66A:before { content: '\e82e'; } /* '' */
.icon-uniE669:before { content: '\e82f'; } /* '' */
.icon-uniE668:before { content: '\e830'; } /* '' */
.icon-uniE667:before { content: '\e831'; } /* '' */
.icon-uniE666:before { content: '\e832'; } /* '' */
.icon-uniE665:before { content: '\e833'; } /* '' */
.icon-uniE664:before { content: '\e834'; } /* '' */
.icon-uniE663:before { content: '\e835'; } /* '' */
.icon-uniE662:before { content: '\e836'; } /* '' */
.icon-uniE661:before { content: '\e837'; } /* '' */
.icon-uniE660:before { content: '\e838'; } /* '' */
.icon-uniE65F:before { content: '\e839'; } /* '' */
.icon-uniE65E:before { content: '\e83a'; } /* '' */
.icon-uniE65D:before { content: '\e83b'; } /* '' */
.icon-uniE65C:before { content: '\e83c'; } /* '' */
.icon-uniE65B:before { content: '\e83d'; } /* '' */
.icon-uniE65A:before { content: '\e83e'; } /* '' */
.icon-uniE659:before { content: '\e83f'; } /* '' */
.icon-uniE658:before { content: '\e840'; } /* '' */
.icon-uniE657:before { content: '\e841'; } /* '' */
.icon-uniE656:before { content: '\e842'; } /* '' */
.icon-uniE655:before { content: '\e843'; } /* '' */
.icon-uniE654:before { content: '\e844'; } /* '' */
.icon-uniE653:before { content: '\e845'; } /* '' */
.icon-uniE652:before { content: '\e846'; } /* '' */
.icon-uniE651:before { content: '\e847'; } /* '' */
.icon-uniE650:before { content: '\e848'; } /* '' */
.icon-uniE634:before { content: '\e849'; } /* '' */
.icon-uniE635:before { content: '\e84a'; } /* '' */
.icon-uniE636:before { content: '\e84b'; } /* '' */
.icon-uniE637:before { content: '\e84c'; } /* '' */
.icon-uniE638:before { content: '\e84d'; } /* '' */
.icon-uniE639:before { content: '\e84e'; } /* '' */
.icon-uniE63A:before { content: '\e84f'; } /* '' */
.icon-uniE63B:before { content: '\e850'; } /* '' */
.icon-uniE63C:before { content: '\e851'; } /* '' */
.icon-uniE63D:before { content: '\e852'; } /* '' */
.icon-uniE63E:before { content: '\e853'; } /* '' */
.icon-uniE63F:before { content: '\e854'; } /* '' */
.icon-uniE640:before { content: '\e855'; } /* '' */
.icon-uniE641:before { content: '\e856'; } /* '' */
.icon-uniE642:before { content: '\e857'; } /* '' */
.icon-uniE643:before { content: '\e858'; } /* '' */
.icon-uniE644:before { content: '\e859'; } /* '' */
.icon-uniE645:before { content: '\e85a'; } /* '' */
.icon-uniE646:before { content: '\e85b'; } /* '' */
.icon-uniE647:before { content: '\e85c'; } /* '' */
.icon-uniE648:before { content: '\e85d'; } /* '' */
.icon-uniE649:before { content: '\e85e'; } /* '' */
.icon-uniE64A:before { content: '\e85f'; } /* '' */
.icon-uniE64B:before { content: '\e860'; } /* '' */
.icon-uniE64C:before { content: '\e861'; } /* '' */
.icon-uniE64D:before { content: '\e862'; } /* '' */
.icon-uniE64E:before { content: '\e863'; } /* '' */
.icon-uniE64F:before { content: '\e864'; } /* '' */
.icon-uniE633:before { content: '\e865'; } /* '' */
.icon-uniE632:before { content: '\e866'; } /* '' */
.icon-uniE631:before { content: '\e867'; } /* '' */
.icon-uniE630:before { content: '\e868'; } /* '' */
.icon-uniE62F:before { content: '\e869'; } /* '' */
.icon-uniE62E:before { content: '\e86a'; } /* '' */
.icon-uniE62D:before { content: '\e86b'; } /* '' */
.icon-uniE62C:before { content: '\e86c'; } /* '' */
.icon-uniE62B:before { content: '\e86d'; } /* '' */
.icon-uniE62A:before { content: '\e86e'; } /* '' */
.icon-uniE629:before { content: '\e86f'; } /* '' */
.icon-uniE628:before { content: '\e870'; } /* '' */
.icon-uniE627:before { content: '\e871'; } /* '' */
.icon-uniE626:before { content: '\e872'; } /* '' */
.icon-uniE625:before { content: '\e873'; } /* '' */
.icon-uniE624:before { content: '\e874'; } /* '' */
.icon-uniE623:before { content: '\e875'; } /* '' */
.icon-uniE622:before { content: '\e876'; } /* '' */
.icon-uniE621:before { content: '\e877'; } /* '' */
.icon-uniE620:before { content: '\e878'; } /* '' */
.icon-uniE61F:before { content: '\e879'; } /* '' */
.icon-uniE61E:before { content: '\e87a'; } /* '' */
.icon-uniE61D:before { content: '\e87b'; } /* '' */
.icon-uniE61C:before { content: '\e87c'; } /* '' */
.icon-uniE61B:before { content: '\e87d'; } /* '' */
.icon-uniE61A:before { content: '\e87e'; } /* '' */
.icon-uniE619:before { content: '\e87f'; } /* '' */
.icon-uniE618:before { content: '\e880'; } /* '' */
.icon-uniE600:before { content: '\e881'; } /* '' */
.icon-uniE601:before { content: '\e882'; } /* '' */
.icon-uniE602:before { content: '\e883'; } /* '' */
.icon-uniE603:before { content: '\e884'; } /* '' */
.icon-uniE604:before { content: '\e885'; } /* '' */
.icon-uniE605:before { content: '\e886'; } /* '' */
.icon-uniE606:before { content: '\e887'; } /* '' */
.icon-uniE607:before { content: '\e888'; } /* '' */
.icon-uniE608:before { content: '\e889'; } /* '' */
.icon-uniE609:before { content: '\e88a'; } /* '' */
.icon-uniE60A:before { content: '\e88b'; } /* '' */
.icon-uniE60B:before { content: '\e88c'; } /* '' */
.icon-uniE60C:before { content: '\e88d'; } /* '' */
.icon-uniE60D:before { content: '\e88e'; } /* '' */
.icon-uniE60E:before { content: '\e88f'; } /* '' */
.icon-uniE60F:before { content: '\e890'; } /* '' */
.icon-uniE610:before { content: '\e891'; } /* '' */
.icon-uniE611:before { content: '\e892'; } /* '' */
.icon-uniE612:before { content: '\e893'; } /* '' */
.icon-uniE613:before { content: '\e894'; } /* '' */
.icon-uniE614:before { content: '\e895'; } /* '' */
.icon-uniE615:before { content: '\e896'; } /* '' */
.icon-uniE616:before { content: '\e897'; } /* '' */
.icon-uniE617:before { content: '\e898'; } /* '' */
.icon-uniE980:before { content: '\e899'; } /* '' */
.icon-uniE900:before { content: '\e900'; } /* '' */
.icon-uniE901:before { content: '\e901'; } /* '' */
.icon-uniE902:before { content: '\e902'; } /* '' */
.icon-uniE903:before { content: '\e903'; } /* '' */
.icon-uniE904:before { content: '\e904'; } /* '' */
.icon-uniE905:before { content: '\e905'; } /* '' */
.icon-uniE906:before { content: '\e906'; } /* '' */
.icon-uniE907:before { content: '\e907'; } /* '' */
.icon-uniE908:before { content: '\e908'; } /* '' */
.icon-uniE909:before { content: '\e909'; } /* '' */
.icon-uniE90A:before { content: '\e90a'; } /* '' */
.icon-uniE90B:before { content: '\e90b'; } /* '' */
.icon-uniE90C:before { content: '\e90c'; } /* '' */
.icon-uniE90D:before { content: '\e90d'; } /* '' */
.icon-uniE90E:before { content: '\e90e'; } /* '' */
.icon-uniE90F:before { content: '\e90f'; } /* '' */
.icon-uniE910:before { content: '\e910'; } /* '' */
.icon-uniE911:before { content: '\e911'; } /* '' */
.icon-uniE912:before { content: '\e912'; } /* '' */
.icon-uniE913:before { content: '\e913'; } /* '' */
.icon-uniE914:before { content: '\e914'; } /* '' */
.icon-uniE915:before { content: '\e915'; } /* '' */
.icon-uniE916:before { content: '\e916'; } /* '' */
.icon-uniE917:before { content: '\e917'; } /* '' */
.icon-uniE918:before { content: '\e918'; } /* '' */
.icon-uniE919:before { content: '\e919'; } /* '' */
.icon-uniE91A:before { content: '\e91a'; } /* '' */
.icon-uniE91B:before { content: '\e91b'; } /* '' */
.icon-uniE91C:before { content: '\e91c'; } /* '' */
.icon-uniE91D:before { content: '\e91d'; } /* '' */
.icon-uniE91E:before { content: '\e91e'; } /* '' */
.icon-uniE91F:before { content: '\e91f'; } /* '' */
.icon-uniE920:before { content: '\e920'; } /* '' */
.icon-uniE921:before { content: '\e921'; } /* '' */
.icon-uniE922:before { content: '\e922'; } /* '' */
.icon-uniE923:before { content: '\e923'; } /* '' */
.icon-uniE924:before { content: '\e924'; } /* '' */
.icon-uniE925:before { content: '\e925'; } /* '' */
.icon-uniE926:before { content: '\e926'; } /* '' */
.icon-uniE927:before { content: '\e927'; } /* '' */
.icon-uniE928:before { content: '\e928'; } /* '' */
.icon-uniE929:before { content: '\e929'; } /* '' */
.icon-uniE92A:before { content: '\e92a'; } /* '' */
.icon-uniE92B:before { content: '\e92b'; } /* '' */
.icon-uniE92C:before { content: '\e92c'; } /* '' */
.icon-uniE92D:before { content: '\e92d'; } /* '' */
.icon-uniE92E:before { content: '\e92e'; } /* '' */
.icon-uniE92F:before { content: '\e92f'; } /* '' */
.icon-uniE930:before { content: '\e930'; } /* '' */
.icon-uniE931:before { content: '\e931'; } /* '' */
.icon-uniE932:before { content: '\e932'; } /* '' */
.icon-uniE933:before { content: '\e933'; } /* '' */
.icon-uniE934:before { content: '\e934'; } /* '' */
.icon-uniE935:before { content: '\e935'; } /* '' */
.icon-uniE936:before { content: '\e936'; } /* '' */
.icon-uniE937:before { content: '\e937'; } /* '' */
.icon-uniE938:before { content: '\e938'; } /* '' */
.icon-uniE939:before { content: '\e939'; } /* '' */
.icon-uniE93A:before { content: '\e93a'; } /* '' */
.icon-uniE93B:before { content: '\e93b'; } /* '' */
.icon-uniE93C:before { content: '\e93c'; } /* '' */
.icon-uniE93D:before { content: '\e93d'; } /* '' */
.icon-uniE93E:before { content: '\e93e'; } /* '' */
.icon-uniE93F:before { content: '\e93f'; } /* '' */
.icon-uniE940:before { content: '\e940'; } /* '' */
.icon-uniE941:before { content: '\e941'; } /* '' */
.icon-uniE942:before { content: '\e942'; } /* '' */
.icon-uniE943:before { content: '\e943'; } /* '' */
.icon-uniE944:before { content: '\e944'; } /* '' */
.icon-uniE945:before { content: '\e945'; } /* '' */
.icon-uniE946:before { content: '\e946'; } /* '' */
.icon-uniE947:before { content: '\e947'; } /* '' */
.icon-uniE948:before { content: '\e948'; } /* '' */
.icon-uniE949:before { content: '\e949'; } /* '' */
.icon-uniE94A:before { content: '\e94a'; } /* '' */
.icon-uniE94B:before { content: '\e94b'; } /* '' */
.icon-uniE94C:before { content: '\e94c'; } /* '' */
.icon-uniE94D:before { content: '\e94d'; } /* '' */
.icon-uniE94E:before { content: '\e94e'; } /* '' */
.icon-uniE94F:before { content: '\e94f'; } /* '' */
.icon-uniE950:before { content: '\e950'; } /* '' */
.icon-uniE951:before { content: '\e951'; } /* '' */
.icon-uniE952:before { content: '\e952'; } /* '' */
.icon-uniE953:before { content: '\e953'; } /* '' */
.icon-uniE954:before { content: '\e954'; } /* '' */
.icon-uniE955:before { content: '\e955'; } /* '' */
.icon-uniE956:before { content: '\e956'; } /* '' */
.icon-uniE957:before { content: '\e957'; } /* '' */
.icon-uniE958:before { content: '\e958'; } /* '' */
.icon-uniE959:before { content: '\e959'; } /* '' */
.icon-uniE95A:before { content: '\e95a'; } /* '' */
.icon-uniE95B:before { content: '\e95b'; } /* '' */
.icon-uniE95C:before { content: '\e95c'; } /* '' */
.icon-uniE95D:before { content: '\e95d'; } /* '' */
.icon-uniE95E:before { content: '\e95e'; } /* '' */
.icon-uniE95F:before { content: '\e95f'; } /* '' */
.icon-uniE960:before { content: '\e960'; } /* '' */
.icon-uniE961:before { content: '\e961'; } /* '' */
.icon-uniE962:before { content: '\e962'; } /* '' */
.icon-uniE963:before { content: '\e963'; } /* '' */
.icon-uniE964:before { content: '\e964'; } /* '' */
.icon-uniE965:before { content: '\e965'; } /* '' */
.icon-uniE966:before { content: '\e966'; } /* '' */
.icon-uniE967:before { content: '\e967'; } /* '' */
.icon-uniE968:before { content: '\e968'; } /* '' */
.icon-uniE969:before { content: '\e969'; } /* '' */
.icon-uniE96A:before { content: '\e96a'; } /* '' */
.icon-uniE970:before { content: '\e970'; } /* '' */
.icon-uniE971:before { content: '\e971'; } /* '' */
.icon-uniE972:before { content: '\e972'; } /* '' */
.icon-uniE973:before { content: '\e973'; } /* '' */
.icon-uniE974:before { content: '\e974'; } /* '' */
.icon-uniE975:before { content: '\e975'; } /* '' */
.icon-uniE976:before { content: '\e976'; } /* '' */
.icon-uniE977:before { content: '\e977'; } /* '' */
.icon-uniE978:before { content: '\e978'; } /* '' */
.icon-uniE979:before { content: '\e979'; } /* '' */
